version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - '27017:27017'

  backend:
    build:
      context: ./APP/campus-service-backend
    restart: unless-stopped
    environment:
      - MONGO_URI=mongodb://mongo:27017/campusdb
      - PORT=5000
    ports:
      - '5000:5000'
    depends_on:
      - mongo

  frontend:
    build:
      context: ./APP/campus-frontend
    restart: unless-stopped
    ports:
      - '5173:5173'
    depends_on:
      - backend

volumes:
  mongo-data:
    driver: local
